# 忽略编译生成的文件
*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*.synctex.gz
*.fdb_latexmk
*.fls
*.xdv
*.loe
*.gz
*.snm
*.nav
*.synctex
*.synctex(busy)
# 忽略临时文件和备份文件
*~
*.bak

# 忽略 PDF 文件（假设你只想要源代码）
*.pdf    
# 忽略 图片
*.png    
*.jpg
*.jpeg 


*.zip
